<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Central Rent A Car | Araç Kiralama, Oto Kiralama</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Central Rent a Car, yepyeni araçlarıyla çok özel bir araç kiralama deneyimi sunuyor. Araç Kiralama Hizmeti">
    <meta http-equiv="content-language" content="tr">
    <meta name="revisit-after" content="1 days">
    <meta name="Distribution" content="Global">
    <meta name="robots" content="index,follow">
    <meta property="og:locale" content="tr_TR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Central Rent A Car | Araç Kiralama, Oto Kiralama">
    <meta property="og:description" content="Central Rent a Car, yepyeni araçlarıyla çok özel bir araç kiralama deneyimi sunuyor.">
    <meta property="og:site_name" content="Central Rent A Car">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Central Rent a Car, yepyeni araçlarıyla çok özel bir araç kiralama deneyimi sunuyor.">
    <meta name="twitter:title" content=" Rent A Car | Araç Kiralama, Oto Kiralama">
    <link rel="icon" type="image/x-icon" href="~/Content/Img/unnamed.png">

    <link href="~/Content/Themes/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Themes/css/font.css" rel="stylesheet">
    <link href="~/Content/Themes/css/ozelStyle.css" rel="stylesheet">
    <link href="~/Content/Scripts/fancybox/dist/jquery.fancybox.css" rel="stylesheet">
    <link href="~/Content/Themes/css/jqueryui.css" rel="stylesheet">
    <link href="~/Content/Themes/css/Bootstrap/css/bootstrap.min.css?v=1" rel="stylesheet">
    <link href="~/Content/Scripts/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/Scripts/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/Content/Themes/css/easy-autocomplete.min19ce.css?v=1116010300" rel="stylesheet">
    <link href="~/Content/Themes/css/easy-autocomplete.themes.css" rel="stylesheet">
    <link href="~/Content/Themes/css/index.css" rel="stylesheet">
    <link href="~/Content/Themes/css/ozelDesktop.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="~/Content/Themes/css/defaultStyle.css?v=1" rel="stylesheet">
  
   
    

</head>
<body>
    @Html.Partial("_PartialHeadr")

   

    @RenderBody()

    @Html.Partial("_PartialFooter")

    <!-- Global site tag (gtag.js) - AdWords: 1011802234 -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-1011802234"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-1011802234');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-24205944-1"></script>*@
    @*<script>
        window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-24205944-1');</script>*@
    <!-- Google Tag Manager Central Tr Com by AdresGezgini -->
    @*<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3SX9C" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>*@
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T3SX9C');

    </script>
    <!-- End Google Tag Manager Central Tr Com by AdresGezgini -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="~/Content/Scripts/querystring-0.9.0-min.js"></script>
    <script src="~/Content/Scripts/jquery.storageapi.min.js"></script>
    <script src="~/Content/Scripts/Form.js"></script>
    <script src="~/Content/Themes/css/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/jquery.lazy.js"></script>
    <script src="~/Content/Scripts/Global.js"></script>
    <script src="~/Content/Scripts/jquery.number.min.js"></script>
    <script src="~/Content/Scripts/jquery.mask.min.js"></script>
    <script src="~/Content/Scripts/buyukharf.js"></script>
 <script src="~/Content/Scripts/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>
    <script src="~/Content/Scripts/fancybox/dist/jquery.fancybox.js"></script>
    <script src="~/Content/Scripts/jquery-ui.min.js"></script>
    <script src="~/Content/Scripts/daterangepicker.tr.js"></script>
    <script src="~/Content/Scripts/jquery.easy-autocomplete.min.js"></script>
   
    <script>
        //INDEX JS BILGILERI
        var allStation = [{ "code": "KS003468", "name": "\u0130stanbul Sabiha G\u00f6k\u00e7en Havaliman\u0131" }, { "code": "KS003469", "name": "\u0130stanbul 4. Levent" }, { "code": "KS009988", "name": "\u0130stanbul Yenikap\u0131 \u0130DO" }, { "code": "KS020000", "name": "\u0130stanbul Havaliman\u0131" }, { "code": "KS003488", "name": "\u0130stanbul G\u00fcne\u015fli" }, { "code": "KS002004", "name": "\u0130stanbul Kad\u0131k\u00f6y" }, { "code": "KS003465", "name": "Ankara Esenbo\u011fa Havaliman\u0131" }, { "code": "KS003470", "name": "\u0130zmir Adnan Menderes Havaliman\u0131" }, { "code": "KS010705", "name": "Adana Havaalan\u0131" }, { "code": "KS015000", "name": "Amasya" }, { "code": "KS003450", "name": "Antalya" }, { "code": "KS003462", "name": "Artvin" }, { "code": "KS021000", "name": "Bal\u0131kesir" }, { "code": "KS019000", "name": "Bal\u0131kesir Edremit Koca Seyit Havaliman\u0131" }, { "code": "KS003466", "name": "Bodrum Milas Havaalan\u0131" }, { "code": "KS003452", "name": "Bursa" }, { "code": "KS003461", "name": "Dalaman Havaliman\u0131" }, { "code": "KS002001", "name": "Denizli" }, { "code": "KS002002", "name": "Denizli Havaliman\u0131" }, { "code": "KS003429", "name": "Diyarbak\u0131r" }, { "code": "KS007093", "name": "Diyarbak\u0131r Havaalan\u0131" }, { "code": "KS003454", "name": "Erzurum" }, { "code": "KS007087", "name": "Erzurum Havaalan\u0131" }, { "code": "KS003453", "name": "Eski\u015fehir" }, { "code": "KS003456", "name": "Gaziantep" }, { "code": "KS003457", "name": "Kayseri" }, { "code": "KS002003", "name": "Konya Havaliman\u0131" }, { "code": "KS017000", "name": "Mardin" }, { "code": "KS010900", "name": "Mersin" }, { "code": "KS022000", "name": "Ordu Giresun Havaliman\u0131" }, { "code": "KS003459", "name": "Samsun" }, { "code": "KS013000", "name": "Samsun Havaliman\u0131" }, { "code": "KS014000", "name": "Tokat" }, { "code": "KS003460", "name": "Trabzon" }, { "code": "KS010694", "name": "Van" }, { "code": "KS003455", "name": "Van Ferit Melen" }, { "code": "KS009977", "name": "Yalova " }];
        var siteMobil = 0;
        //var pickUpTime = '';
        //var dropOffTime = '';</script>
    <script src="~/Content/Scripts/index-1.js?v=20200307113118"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script src="~/Content/Scripts/maskeleme.min.js"></script>

    <!-- Include cookiealert script -->
    <script src="~/Content/Scripts/cookiealert.js"></script>


</body>
</html>