<footer>
    <div class="container">
        <div class="footerTop">
            <div class="row">
                <div class="col-sm-7 col-lg-8">
                    <ul class="menu">
                        <li><a href="araclar.html" title="Araçlar">Araçlar</a></li>
                        <li><a href="kampanyalar.html" title="Kampanyalar">Kampanyalar</a></li>
                        <li><a href="kurumsal.html" title="Kurumsal">Kurumsal</a></li>
                        <li><a href="bilgilendirme-formu.html" title="Bilgilendirme Formu">Bilgilendirme Formu</a></li>

                    </ul>
                </div>
                <div class="col-sm-5 col-lg-4">

                    <div class="followUs">
                        <h4>Ismail RENT A CAR'I TAKİP EDİN</h4>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/Centraltr" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/centralrentacar" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/centralrentacar/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/centralrentacar" target="_blank"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCNQKTCVB4LmJzhD11MfEHpA?view_as=subscriber" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright @DateTime.Now © İSMAİL  OTO KİRALAMA A.Ş.</p>
        </div>
    </div>
</footer>
