
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <input type="hidden" id="hiddenAlisDay" value="07">
    <input type="hidden" id="hiddenAlisMonth" value="03">
    <input type="hidden" id="hiddenAlisYear" value="2020">
    <input type="hidden" id="hiddenVerisDay">
    <input type="hidden" id="hiddenVerisMonth">
    <input type="hidden" id="hiddenVerisYear">
    <section id="banner" class="lazy hidden-xs" data-src="~/Content/Themes/images/uye_giris_bg.jpg">
        <div class="container-fluid">
            <div class="text">
                <h1>Araç Kiralamada</h1>
                <h2>Yepyeni Bir Deneyim</h2>
            </div>
            <form id="SearchForm" class="SearchForm" onsubmit="return SubmitForm()" autocomplete="off">
                <input type="hidden" name="ara" value="1">
                <div class="form">
                    <div class="form-inline">
                        <div class="carSearch">
                            <div class="form-group">
                                <input type="text" id="search" class="form-control" name="PickUpStation" data-placeholder="Alış ve İade Yeri" placeholder="Alış ve İade Yeri" value="">
                                <i class="icon-central-pin" aria-hidden="true"></i>
                                <input id="PickUpStationCode" name="PickUpStationCode" type="hidden">
                            </div>
                            <div class="form-group">
                                <input type="text" id="pickUpDate" class="form-control" name="PickUpDate" placeholder="Alış Tarihi" value="">
                                <i class="icon-central-calender" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <input type="text" id="pickUpHour" class="form-control" name="PickUpHour" placeholder="Alış Saati" value="">
                                <i class="icon-central-time" aria-hidden="true"></i>
                                <div class="hour" id="pickHour">
                                    <div class="owl-carousel">
                                        <div class="item">
                                            <span class="head">ÖĞLEDEN SONRA</span>
                                            <ul>
                                                <li>12:00</li>
                                                <li>12:15</li>
                                                <li>12:30</li>
                                                <li>12:45</li>
                                                <li>13:00</li>
                                                <li>13:15</li>
                                                <li>13:30</li>
                                                <li>13:45</li>
                                                <li>14:00</li>
                                                <li>14:15</li>
                                                <li>14:30</li>
                                                <li>14:45</li>
                                                <li>15:00</li>
                                                <li>15:15</li>
                                                <li>15:30</li>
                                                <li>15:45</li>
                                                <li>16:00</li>
                                                <li>16:15</li>
                                                <li>16:30</li>
                                                <li>16:45</li>
                                                <li>17:00</li>
                                                <li>17:15</li>
                                                <li>17:30</li>
                                                <li>17:45</li>
                                                <li>18:00</li>
                                                <li>18:15</li>
                                                <li>18:30</li>
                                                <li>18:45</li>
                                                <li>19:00</li>
                                                <li>19:15</li>
                                                <li>19:30</li>
                                                <li>19:45</li>
                                                <li>20:00</li>
                                                <li>20:15</li>
                                                <li>20:30</li>
                                                <li>20:45</li>
                                                <li>21:00</li>
                                                <li>21:15</li>
                                                <li>21:30</li>
                                                <li>21:45</li>
                                                <li>22:00</li>
                                                <li>22:15</li>
                                                <li>22:30</li>
                                                <li>22:45</li>
                                                <li>23:00</li>
                                                <li>23:15</li>
                                                <li>23:30</li>
                                                <li>23:45</li>
                                                <li>00:00</li>
                                            </ul>
                                        </div>
                                        <div class="item">
                                            <span class="head">ÖĞLEDEN ÖNCE</span>
                                            <ul>
                                                <li>00:15</li>
                                                <li>00:30</li>
                                                <li>00:45</li>
                                                <li>01:00</li>
                                                <li>01:15</li>
                                                <li>01:30</li>
                                                <li>01:45</li>
                                                <li>02:00</li>
                                                <li>02:15</li>
                                                <li>02:30</li>
                                                <li>02:45</li>
                                                <li>03:00</li>
                                                <li>03:15</li>
                                                <li>03:30</li>
                                                <li>03:45</li>
                                                <li>04:00</li>
                                                <li>04:15</li>
                                                <li>04:30</li>
                                                <li>04:45</li>
                                                <li>05:00</li>
                                                <li>05:15</li>
                                                <li>05:30</li>
                                                <li>05:45</li>
                                                <li>06:00</li>
                                                <li>06:15</li>
                                                <li>06:30</li>
                                                <li>06:45</li>
                                                <li>07:00</li>
                                                <li>07:15</li>
                                                <li>07:30</li>
                                                <li>07:45</li>
                                                <li>08:00</li>
                                                <li>08:15</li>
                                                <li>08:30</li>
                                                <li>08:45</li>
                                                <li>09:00</li>
                                                <li>09:15</li>
                                                <li>09:30</li>
                                                <li>09:45</li>
                                                <li>10:00</li>
                                                <li>10:15</li>
                                                <li>10:30</li>
                                                <li>10:45</li>
                                                <li>11:00</li>
                                                <li>11:15</li>
                                                <li>11:30</li>
                                                <li>11:45</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="dropOffDate" class="form-control" name="DropOffDate" placeholder="İade Tarihi" value="">
                                <i class="icon-central-calender" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <input type="text" id="dropOffHour" class="form-control" name="DropOffHour" placeholder="İade Saati" value="">
                                <i class="icon-central-time" aria-hidden="true"></i>
                                <div class="hour" id="dropOffHour1">
                                    <div class="owl-carousel">
                                        <div class="item">
                                            <span class="head">ÖĞLEDEN SONRA</span>
                                            <ul>
                                                <li>12:00</li>
                                                <li>12:15</li>
                                                <li>12:30</li>
                                                <li>12:45</li>
                                                <li>13:00</li>
                                                <li>13:15</li>
                                                <li>13:30</li>
                                                <li>13:45</li>
                                                <li>14:00</li>
                                                <li>14:15</li>
                                                <li>14:30</li>
                                                <li>14:45</li>
                                                <li>15:00</li>
                                                <li>15:15</li>
                                                <li>15:30</li>
                                                <li>15:45</li>
                                                <li>16:00</li>
                                                <li>16:15</li>
                                                <li>16:30</li>
                                                <li>16:45</li>
                                                <li>17:00</li>
                                                <li>17:15</li>
                                                <li>17:30</li>
                                                <li>17:45</li>
                                                <li>18:00</li>
                                                <li>18:15</li>
                                                <li>18:30</li>
                                                <li>18:45</li>
                                                <li>19:00</li>
                                                <li>19:15</li>
                                                <li>19:30</li>
                                                <li>19:45</li>
                                                <li>20:00</li>
                                                <li>20:15</li>
                                                <li>20:30</li>
                                                <li>20:45</li>
                                                <li>21:00</li>
                                                <li>21:15</li>
                                                <li>21:30</li>
                                                <li>21:45</li>
                                                <li>22:00</li>
                                                <li>22:15</li>
                                                <li>22:30</li>
                                                <li>22:45</li>
                                                <li>23:00</li>
                                                <li>23:15</li>
                                                <li>23:30</li>
                                                <li>23:45</li>
                                                <li>00:00</li>
                                            </ul>
                                        </div>
                                        <div class="item">
                                            <span class="head">ÖĞLEDEN ÖNCE</span>
                                            <ul>
                                                <li>00:15</li>
                                                <li>00:30</li>
                                                <li>00:45</li>
                                                <li>01:00</li>
                                                <li>01:15</li>
                                                <li>01:30</li>
                                                <li>01:45</li>
                                                <li>02:00</li>
                                                <li>02:15</li>
                                                <li>02:30</li>
                                                <li>02:45</li>
                                                <li>03:00</li>
                                                <li>03:15</li>
                                                <li>03:30</li>
                                                <li>03:45</li>
                                                <li>04:00</li>
                                                <li>04:15</li>
                                                <li>04:30</li>
                                                <li>04:45</li>
                                                <li>05:00</li>
                                                <li>05:15</li>
                                                <li>05:30</li>
                                                <li>05:45</li>
                                                <li>06:00</li>
                                                <li>06:15</li>
                                                <li>06:30</li>
                                                <li>06:45</li>
                                                <li>07:00</li>
                                                <li>07:15</li>
                                                <li>07:30</li>
                                                <li>07:45</li>
                                                <li>08:00</li>
                                                <li>08:15</li>
                                                <li>08:30</li>
                                                <li>08:45</li>
                                                <li>09:00</li>
                                                <li>09:15</li>
                                                <li>09:30</li>
                                                <li>09:45</li>
                                                <li>10:00</li>
                                                <li>10:15</li>
                                                <li>10:30</li>
                                                <li>10:45</li>
                                                <li>11:00</li>
                                                <li>11:15</li>
                                                <li>11:30</li>
                                                <li>11:45</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="commonBtn"><i class="fa fa-search" aria-hidden="true"></i>Ara</button>
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert">
                        </div>



                    </div>
                </div>
            </form>
        </div>
    </section>
    <section id="upgrade">
        <div class="container-fluid" style="padding-left: 0;padding-right: 0;">
            <a href="ziraat-bankasi-bankkart-kullanicilarina-ozel-yuzde30-indirim-avantaji\96.html" title="Central Araç Kiralama Ziraat Bankası Kartı ile Ödeme Kampanyası">
                <div class="upgrade" style="border:none!important;">
                    <div class="row">
                        <div class="col-md-12">
                            <figure style="margin-top: 0;">
                                <img src="~/Content/Themes/images/Central_web_Ziraat_kampanya_slider_2.jpg" class="img-responsive center-block" alt="Central Araç Kiralama Ziraat Bankası Kartı ile Ödeme Kampanyası">
                            </figure>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section id="upgrade">
        <div class="container-fluid">
            <a href="mobil-uygulamayla-tutanak-duzenlemek-cok-kolay\9.html" title="Mobil Tutanak">
                <div class="upgrade">
                    <div class="header">
                        <div class="headerIcon">
                            <i class="icon-central-upgradecar central_kirmizisi" style="font-size: 2.75em;"></i>
                        </div>
                        <div class="headerText">
                            <h3>Bir Sorun Olduğunda</h3>
                            <h4>Mobil Uygulamayla Tutanak Düzenlemek Çok Kolay</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <figure>
                                <img src="~/Content/Themes/images/volkswagen_passat_2016.jpg" class="img-responsive center-block" alt="Rent a car Kaza Tespit Tutanağını Burada İndirebilirsiniz">
                            </figure>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>

  

    <section id="assistance">
        <div class="container-fluid">
            <figure>
                <img src="~/Content/Themes/images/yol_yardim_icon.png" class="img-responsive" alt="ISMAIL Yol Yardım">
            </figure>
            <h4>7/24 Yol Yardımı <strong>0850 222 80 55</strong></h4>
        </div>
    </section>

</div>

