@using DataEntity
@model IEnumerable<DataEntity.Kampanya>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <input type="hidden" id="hiddenAlisDay" value="07">
    <input type="hidden" id="hiddenAlisMonth" value="03">
    <input type="hidden" id="hiddenAlisYear" value="2020">
    <input type="hidden" id="hiddenVerisDay">
    <input type="hidden" id="hiddenVerisMonth">
    <input type="hidden" id="hiddenVerisYear">


    @Html.Raw(TempData["msg"])
    @Html.Partial("_PartialSearchCar")

    @Html.Partial("_Slide")






    <section id="upgrade">
        <div class="container-fluid" style="padding-left: 0;padding-right: 0;">
            <a href="ziraat-bankasi-bankkart-kullanicilarina-ozel-yuzde30-indirim-avantaji\96.html" title="Central Araç Kiralama Ziraat Bankası Kartı ile Ödeme Kampanyası">
                <div class="upgrade" style="border:none!important;">
                    <div class="row">
                        <div class="col-md-12">
                            <figure style="margin-top: 0;">
                                <img src="~/Content/Themes/images/Central_web_Ziraat_kampanya_slider_2.jpg" class="img-responsive center-block" alt="Central Araç Kiralama Ziraat Bankası Kartı ile Ödeme Kampanyası">
                            </figure>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section id="upgrade">
        <div class="container-fluid">
            <a href="mobil-uygulamayla-tutanak-duzenlemek-cok-kolay\9.html" title="Mobil Tutanak">
                <div class="upgrade">
                    <div class="header">
                        <div class="headerIcon">
                            <i class="icon-central-upgradecar central_kirmizisi" style="font-size: 2.75em;"></i>
                        </div>
                        <div class="headerText">
                            <h3>Bir Sorun Olduğunda</h3>
                            <h4>Mobil Uygulamayla Tutanak Düzenlemek Çok Kolay</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <figure>
                                <img src="~/Content/Themes/images/volkswagen_passat_2016.jpg" class="img-responsive center-block" alt="Rent a car Kaza Tespit Tutanağını Burada İndirebilirsiniz">
                            </figure>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>



    <section id="assistance">
        <div class="container-fluid">
            <figure>
                <img src="~/Content/Themes/images/yol_yardim_icon.png" class="img-responsive" alt="ISMAIL Yol Yardım">
            </figure>
            <h4>7/24 Yol Yardımı <strong>0850 222 80 55</strong></h4>
        </div>
    </section>

</div>

